/* Provides for floating return to main
rotate <i class="fa-solid fa-arrow-rotate-left"></i> "f060"
arrow left <i class="fa-solid fa-arrow-left"></i> "f0e2"
*/

.oswald-RegFont {
  font-family: "Oswald";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} /* regular font */

/* setup styling for icon */
#return-button::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
#return-button::before {
    font: var(--fa-font-solid);
    font-family: "FontAwesome";
    content: "\f060"; /* back arrow */
}
/* icon end */

#return-button {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  position: fixed;
  right: 5%;
  top: 1rem;
  border-radius: 50%;
  box-shadow: 0 3px 6px white, 0 -3px 6px white, 3px 0 6px white, -3px 0 3px white;
  width: 8rem;
  line-height: 1.25rem;
  height: auto;
  padding: .25rem;
}

@media all and (min-width: 1024px) {
  #return-button {
    opacity: 80%;
    position: fixed;
    right: 50%;
    top: 1rem;
    width: 7rem;
    line-height: 1rem;
    height: 1.75rem;
    text-overflow: ellipsis;
    cursor: pointer;
    word-break: break-all;
    overflow:hidden;
    white-space: nowrap;
  }
  
  #return-button:hover {
    opacity: 100%;
    font-weight: bolder;
    overflow: visible; 
    white-space: normal; 
    height: auto;
    padding: .25rem .25rem .5rem .25rem;
  }
  
  #return-button a:active {
    opacity: 100%;
    font-weight: bolder;
    overflow: visible; 
    white-space: normal; 
    height: auto;
    padding: .25rem;
  }
  
  #return-button:focus {
    opacity: 100%;
    font-weight: bolder;
    overflow: visible; 
    white-space: normal; 
    height: auto;
    padding: .25rem;
  }
  
}