/*Style sheet*/
body {
    font-family: "Helvetica", "Arial", sans-serif;
    color: #fff;
    background: #003957;
    height: 100%;
    margin: 0;
}
h1,
footer {
    flex-grow: 0;
    flex-shrink: 0;
}
h1 {
    background: #2971a8;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2 {
    display: flex;
}
a {
    color: #fff;
}

.display-none {
    display: none;
}

footer {
    height: 200px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
